__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
.env
.vscode/
.idea/
*.log
**/node_modules
*.egg-info/
dist/
build/
.pytest_cache/
.coverage
htmlcov/
**/output/*.env.*
!.env.example
node_modules/
*.pid
.DS_Store
.env.*
